[Unit]
Description=Goblins OS IBus input method service
CollectMode=inactive-or-failed

Requisite=gnome-session-initialized.target
PartOf=gnome-session-initialized.target
After=gnome-session-initialized.target org.gnome.Shell@user.service org.goblins.OS.InputSourcesSeed.service
Before=gnome-session.target
Conflicts=org.freedesktop.IBus.session.GNOME.service org.freedesktop.IBus.session.generic.service

[Service]
Type=dbus
Environment=IBUS_COMPONENT_PATH=%h/.local/share/ibus/component:/usr/share/ibus/component
ExecStartPre=-/usr/bin/ibus write-cache
ExecStart=sh -c 'exec /usr/bin/ibus-daemon --panel disable $([ "$XDG_SESSION_TYPE" = "x11" ] && echo "--xim")'
Restart=on-abnormal
RestartSec=1
BusName=org.freedesktop.IBus
TimeoutStopSec=5
Slice=session.slice
