[Unit]
Description=Goblins OS IBus input method service
CollectMode=inactive-or-failed

PartOf=gnome-session-initialized.target
After=gnome-session-initialized.target org.gnome.Shell@user.service org.goblins.OS.InputSourcesSeed.service

[Service]
Type=simple
ExecStart=/usr/bin/ibus-daemon --replace --xim --panel disable
Restart=on-failure
RestartSec=1
