[Unit]
Description=Goblins OS shell target
CollectMode=inactive-or-failed

Wants=org.goblins.OS.Shell.service

After=gnome-session-initialized.target org.gnome.Shell@user.service
PartOf=gnome-session-initialized.target
Before=gnome-session.target
