[Desktop Entry]
Type=Application
Name=Goblins OS First Boot
Comment=Native first-boot installer for Goblins OS
Exec=/usr/libexec/goblins-os/goblins-os-installer
NoDisplay=true
X-GNOME-Autostart-enabled=true
Icon=/usr/share/goblins-os/brand/icons/goblins.svg
StartupWMClass=org.goblins.OS.Installer
